# Example usage

Simple example of fitting the provided example data to the 5 ES model

In [5]:
from enterosig import transform, models

result = transform(
    abundance=models.example_abundance(), 
    model_w=models.five_es()
)

result.model_fit.describe()

INFO [29/12/2023 11:27:25]: If you use this model please cite Frioux et al. (2023, https://doi.org/10.1016/j.chom.2023.05.024)
INFO [29/12/2023 11:27:25]: 331 of 586 taxa names matched exactly
INFO [29/12/2023 11:27:25]: 9 genera trimmed and matched (i.e Ruminococcus_C -> Ruminococcus)
INFO [29/12/2023 11:27:25]: 3 taxa merged by final rank (e.g. UBA1435, CAG-314)
INFO [29/12/2023 11:27:25]: 8 taxa matched by name of lowest rank alone
INFO [29/12/2023 11:27:25]: 103 genera rolled up to family (i.e Lachonspiraceae;CAG-95 -> Lachnospiraceae)
INFO [29/12/2023 11:27:25]: 135 taxa unique to input, could not be matched any entries in Enterosignatures matrix.
INFO [29/12/2023 11:27:25]: These unique taxa represent 51.02 abundance of a total 1152.00 (4.43%).
INFO [29/12/2023 11:27:25]: Sum of weights in new W matrix is 148.16; Original Enterosignatures matrix sum is 153.44. 3.45% of ES matrix weight lost due to taxa mismatch.

         model_fit
count  1152.000000
mean      0.636157
std       0.304423
min       0.010694
25%       0.351237
50%       0.733817
75%       0.914352
max       0.993902

The results object is a named tuple. The Enterosignature weights for each sample are in the H matrix of the results object.

In [7]:
result.h.head()

               ES_Bact       ES_Bifi   ES_Esch   ES_Prev       ES_Firm
W2.35.ST  1.077914e-03  1.368606e-08  0.000628  0.016991  1.196616e-02
W1.41.ST  8.467672e-05  5.136964e-04  0.000027  0.036528  3.818069e-03
W2.42.ST  1.197527e-05  1.945573e-03  0.013511  0.029255  1.769652e-15
W1.39.ST  6.617500e-15  6.081704e-03  0.001049  0.027610  4.645513e-03
M1.61.ST  5.096353e-07  7.139130e-05  0.003599  0.033310  3.276133e-03

For most analyses, you will likely want to convert these to relative abundances as below.

In [23]:
import numpy as np

rel_weights = (result.h.T / result.h.sum(axis=1)).T
assert np.isclose(rel_weights.sum(axis=1), 1.0).all()
rel_weights.head()

               ES_Bact       ES_Bifi   ES_Esch   ES_Prev       ES_Firm
W2.35.ST  3.515361e-02  4.463382e-07  0.020474  0.554124  3.902478e-01
W1.41.ST  2.066730e-03  1.253794e-02  0.000664  0.891543  9.318873e-02
W2.42.ST  2.677612e-04  4.350209e-02  0.302094  0.654136  3.956857e-14
W1.39.ST  1.680187e-13  1.544148e-01  0.026628  0.701008  1.179499e-01
M1.61.ST  1.265951e-05  1.773383e-03  0.089412  0.827421  8.138020e-02